Flows/TechnicianInstall/flows/Waylay_Installer_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>ApplyRules</name>
        <label>ApplyRules</label>
        <locationX>587</locationX>
        <locationY>829</locationY>
        <actionName>wlio__ApplyRuleTemplateExposed</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>AddToTheFinalTable</targetReference>
        </connector>
        <faultConnector>
            <targetReference>LoopOverTheSelectedTemplates</targetReference>
        </faultConnector>
        <inputParameters>
            <name>assetId</name>
            <value>
                <elementReference>TheChosenParentAssetId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateId</name>
            <value>
                <elementReference>GetTemplateRecord.Id</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>theActiveRuleId</assignToReference>
            <name>activeRuleId</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>ApplyTemplateMessage</assignToReference>
            <name>message</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>ApplyTemplateResult</assignToReference>
            <name>status</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Launch_Waylay_Diagnostic_Test</name>
        <label>Launch Waylay Diagnostic Test</label>
        <locationX>1398</locationX>
        <locationY>406</locationY>
        <actionName>wlio__ActiveRuleExposed</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Fetching_the_Diagnostic_Test_Results</targetReference>
        </connector>
        <inputParameters>
            <name>assetId</name>
            <value>
                <elementReference>TheChosenParentAssetId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateId</name>
            <value>
                <elementReference>TheChosenDiagnosticTestId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>ParseMultiSelect</name>
        <label>ParseMultiSelect</label>
        <locationX>225</locationX>
        <locationY>597</locationY>
        <actionName>MultiSelectFlowValues</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>LoopOverTheSelectedTemplates</targetReference>
        </connector>
        <inputParameters>
            <name>values</name>
            <value>
                <elementReference>MultiSelectTemplatePickList</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>theChosenTemplateIdCollection</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <assignments>
        <name>AddToTheFinalTable</name>
        <label>AddToTheFinalTable</label>
        <locationX>424</locationX>
        <locationY>870</locationY>
        <assignmentItems>
            <assignToReference>FinalTableToDisplay</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FinalResultTableEntry</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopOverTheSelectedTemplates</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CheckIfHealthCheckOk</name>
        <label>CheckIfHealthCheckOk</label>
        <locationX>625</locationX>
        <locationY>536</locationY>
        <defaultConnector>
            <targetReference>The_Waylay_Health_Check_Failed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>HealthCheckIsOk</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FetchingDiagnosticTestResults.wlio__Result__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Success</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Waylay_Installer_Flow_LaunchRules</targetReference>
            </connector>
            <label>HealthCheckIsOk</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>TheListOfAssets</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>RecordTypeId</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>TheWDTAssetRecordTypeId</elementReference>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TheChosenAccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>LocationId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TheChosenLocationId</elementReference>
            </value>
        </filters>
        <object>Asset</object>
        <outputAssignments>
            <assignToReference>TheChosenParentAssetId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TheListOfDiagnosticTests</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>wlio__Use_Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Conditional Diagnostic Test</stringValue>
            </value>
        </filters>
        <object>wlio__Waylay_Rule_Template__c</object>
        <outputAssignments>
            <assignToReference>TheChosenDiagnosticTestId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TheListOfLocations</name>
        <dataType>String</dataType>
        <displayField>AssociatedLocationNumber</displayField>
        <filters>
            <field>ParentRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TheChosenAccountId</elementReference>
            </value>
        </filters>
        <object>AssociatedLocation</object>
        <outputAssignments>
            <assignToReference>TheChosenLocationId</assignToReference>
            <field>LocationId</field>
        </outputAssignments>
        <valueField>AssociatedLocationNumber</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TheListOfTemplates</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>wlio__Use_Case__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Conditional Diagnostic Test</stringValue>
            </value>
        </filters>
        <object>wlio__Waylay_Rule_Template__c</object>
        <outputAssignments>
            <assignToReference>TheChosenTemplateIds</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>CreateUniqueSensorName</name>
        <dataType>String</dataType>
        <expression>&quot;SENSOR_&quot; + {!TheMappedId}</expression>
    </formulas>
    <interviewLabel>Waylay Installer Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Waylay Installer Flow</label>
    <loops>
        <name>LoopOverTheSelectedTemplates</name>
        <label>LoopOverTheSelectedTemplates</label>
        <locationX>112</locationX>
        <locationY>758</locationY>
        <collectionReference>theChosenTemplateIdCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>GetTemplateRecord</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>FinalScreen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Waylay_Digital_Twin_Asset</name>
        <label>Create Waylay Digital Twin Asset</label>
        <locationX>686</locationX>
        <locationY>314</locationY>
        <assignRecordIdToReference>TheCreatedWDTAssetId</assignRecordIdToReference>
        <connector>
            <targetReference>GetCreatedWDTAsset</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Waylay_Installer_Flow_Failure</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>TheChosenAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InstallDate</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LocationId</field>
            <value>
                <elementReference>Get_Selected_Parent_Asset_Record.LocationId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>CreateUniqueSensorName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>TheChosenParentAssetId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>TheWDTAssetRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>wlio__Waylay_Digital_Twin_Type_Object__c</field>
            <value>
                <elementReference>theChosenSensorTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>wlio__Waylay_Resource_Id__c</field>
            <value>
                <elementReference>TheMappedId</elementReference>
            </value>
        </inputAssignments>
        <object>Asset</object>
    </recordCreates>
    <recordLookups>
        <name>FetchingDiagnosticTestResults</name>
        <label>FetchingDiagnosticTestResults</label>
        <locationX>1073</locationX>
        <locationY>424</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Diagnostic_Test_Results</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Fetching_Diagnostic_Results</targetReference>
        </faultConnector>
        <filters>
            <field>wlio__Asset__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TheChosenParentAssetId</elementReference>
            </value>
        </filters>
        <filters>
            <field>wlio__Waylay_Rule_Template__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TheChosenDiagnosticTestId</elementReference>
            </value>
        </filters>
        <filters>
            <field>CreatedDate</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>$Flow.InterviewStartTime</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>wlio__Diagnostic_Result__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Finding_the_WDT_Record_Type_Id</name>
        <label>Finding the WDT Record Type Id</label>
        <locationX>481</locationX>
        <locationY>51</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SelectAccountFirst</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Waylay Digital Twin</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>TheWDTAssetRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Selected_Parent_Asset_Record</name>
        <label>Get Selected Parent Asset Record</label>
        <locationX>333</locationX>
        <locationY>275</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Waylay_Digital_Twin_Asset</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TheChosenParentAssetId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Asset</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetCreatedWDTAsset</name>
        <label>GetCreatedWDTAsset</label>
        <locationX>1175</locationX>
        <locationY>170</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CreateAssetSuccessful</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TheCreatedWDTAssetId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Asset</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetTemplateRecord</name>
        <label>GetTemplateRecord</label>
        <locationX>601</locationX>
        <locationY>673</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ApplyRules</targetReference>
        </connector>
        <faultConnector>
            <targetReference>LoopOverTheSelectedTemplates</targetReference>
        </faultConnector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoopOverTheSelectedTemplates</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>wlio__Waylay_Rule_Template__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>CreateAssetSuccessful</name>
        <label>Waylay Digital Twin Asset Created Successfully</label>
        <locationX>1406</locationX>
        <locationY>169</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>SelectHealthCheck</targetReference>
        </connector>
        <fields>
            <name>AssetHierarchyView</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Success: Device Provisioned!&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;The following Asset hierarchy was created:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DisplayWDTRecordDetails</name>
            <fieldText>&lt;p&gt;Account Name: {!GetCreatedWDTAsset.Account.Name}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Parent Asset Name: {!GetCreatedWDTAsset.Parent.Name}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Name: {!GetCreatedWDTAsset.Name}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Type: {!GetCreatedWDTAsset.wlio__Waylay_Digital_Twin_Type_Object__r.Name}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Mapped Id: {!GetCreatedWDTAsset.wlio__Waylay_Resource_Id__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CreateAssetSuccessful_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>ConnectAssetText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Please bring the device online and click next to validate the installation:&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DisplayWaylayImage</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>WaylayDeviceInstallationImage</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Diagnostic_Test_Results</name>
        <label>Diagnostic Test Results</label>
        <locationX>1068</locationX>
        <locationY>612</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CheckIfHealthCheckOk</targetReference>
        </connector>
        <fields>
            <name>ShowingDiagnosticTestResults</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;{!FetchingDiagnosticTestResults.wlio__Result__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;{!FetchingDiagnosticTestResults.wlio__Result_Description__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Diagnostic_Test_Results_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Fetching_Diagnostic_Results</name>
        <label>Error Fetching Diagnostic Results</label>
        <locationX>1283</locationX>
        <locationY>289</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Fetching_the_Diagnostic_Test_Results</name>
        <label>Fetching the Diagnostic Test Results</label>
        <locationX>1236</locationX>
        <locationY>432</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>FetchingDiagnosticTestResults</targetReference>
        </connector>
        <fields>
            <name>WaitToFetchDiagnosticTestResults</name>
            <fieldText>&lt;p&gt;Click next to fetch the diagnostic test results...&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>FinalScreen</name>
        <label>FinalScreen</label>
        <locationX>121</locationX>
        <locationY>969</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Final_Screen</name>
            <fieldText>&lt;p&gt;These monitoring rules are running for &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!GetCreatedWDTAsset.Parent.Name}&lt;/span&gt;:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;In case of Errors, please contact your Admin&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>FinalScreen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Inputs_sensor_device</name>
        <label>Provide inputs</label>
        <locationX>835</locationX>
        <locationY>184</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Selected_Parent_Asset_Record</targetReference>
        </connector>
        <fields>
            <name>RegisterDevice</name>
            <fieldText>&lt;p&gt;Register Device:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Select_Parent_Asset</name>
            <choiceReferences>TheListOfAssets</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Parent Asset</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>SelectSensorType</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>wlio__Waylay_Digital_Twin_Type_Object__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Select Sensor Device Type</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Asset</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>theChosenSensorTypeId</assignToReference>
                <name>recordId</name>
            </outputParameters>
        </fields>
        <fields>
            <name>scantext2</name>
            <fieldText>&lt;p&gt;Please scan the QR code of the Device:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>barcodescanner</name>
            <extensionName>c:barcodeScannerFlowComponent</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>successMessage</name>
                <value>
                    <stringValue>Found Device Id!</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>autoAdvance</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>TheMappedId</assignToReference>
                <name>scannedBarcode</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SelectAccountFirst</name>
        <label>Select Account</label>
        <locationX>651</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>SelectLocation</targetReference>
        </connector>
        <fields>
            <name>SelectAccount_0</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Select Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>AccountId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Asset</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>TheChosenAccountId</assignToReference>
                <name>recordId</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SelectHealthCheck</name>
        <label>Select the Health Check to Run</label>
        <locationX>1559</locationX>
        <locationY>413</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Launch_Waylay_Diagnostic_Test</targetReference>
        </connector>
        <fields>
            <name>ShowListOfHealthChecks</name>
            <fieldText>&lt;p&gt;Please select the health check you would like to run:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DiagnosticTestPicklist</name>
            <choiceReferences>TheListOfDiagnosticTests</choiceReferences>
            <dataType>String</dataType>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SelectLocation</name>
        <label>Select Location</label>
        <locationX>831</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Inputs_sensor_device</targetReference>
        </connector>
        <fields>
            <name>Select_Location_0</name>
            <choiceReferences>TheListOfLocations</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Associated Location</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>The_Waylay_Health_Check_Failed</name>
        <label>The Waylay Health Check Failed</label>
        <locationX>1004</locationX>
        <locationY>814</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>FixIssuesBeforeContinue</name>
            <fieldText>&lt;p&gt;Please fix the health check issues first. Please go back in the flow using the &apos;Previous&apos; button...&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Waylay_Installer_Flow_Failure</name>
        <label>Error creating Asset</label>
        <locationX>886</locationX>
        <locationY>428</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>FailureText</name>
            <fieldText>&lt;p&gt;A failure happened while creating a Waylay Digital Twin Asset&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Waylay_Installer_Flow_LaunchRules</name>
        <label>Launch Monitoring Rules</label>
        <locationX>81</locationX>
        <locationY>447</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ParseMultiSelect</targetReference>
        </connector>
        <fields>
            <name>ShowListOfRules</name>
            <fieldText>&lt;p&gt;Select the monitoring rules you would like to start:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>MultiSelectTemplatePickList</name>
            <choiceReferences>TheListOfTemplates</choiceReferences>
            <dataType>String</dataType>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>79</locationY>
        <connector>
            <targetReference>Finding_the_WDT_Record_Type_Id</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>FinalResultTableEntry</name>
        <text>&lt;br/&gt;
&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!GetTemplateRecord.Name}&lt;/span&gt;: &lt;b&gt;{!ApplyTemplateResult}&lt;/b&gt; (&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!ApplyTemplateMessage}&lt;/span&gt;) &lt;/p&gt;&lt;br/&gt;</text>
    </textTemplates>
    <variables>
        <name>ApplyTemplateMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ApplyTemplateResult</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FinalTableToDisplay</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>theActiveRuleId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>TheChosenAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>TheChosenDiagnosticTestId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>TheChosenLocationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>TheChosenParentAssetId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>theChosenSensorTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>theChosenTemplateIdCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TheChosenTemplateIds</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>theChosenTemplatesCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>wlio__Waylay_Rule_Template__c</objectType>
    </variables>
    <variables>
        <name>TheCreatedWDTAssetId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TheMappedId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TheWDTAssetRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
