Flows/LaunchDiagnosticTest/flows/Launch_Waylay_Diagnostic_Test.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>LaunchingTheDiagnosticTest</name>
        <label>LaunchingTheDiagnosticTest</label>
        <locationX>840</locationX>
        <locationY>68</locationY>
        <actionName>wlio__ActiveRuleExposed</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Launch_Diagnostics_Test2</targetReference>
        </connector>
        <inputParameters>
            <name>assetId</name>
            <value>
                <elementReference>theAssetId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateId</name>
            <value>
                <elementReference>thechosentemplateid</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <dynamicChoiceSets>
        <name>DiagnosticsTestChoices1</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>wlio__Use_Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Conditional Diagnostic Test</stringValue>
            </value>
        </filters>
        <object>wlio__Waylay_Rule_Template__c</object>
        <outputAssignments>
            <assignToReference>thechosentemplateid</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <interviewLabel>Launch Waylay Diagnostic Test {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Launch Waylay Diagnostic Test</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>getAsset</name>
        <label>getAsset</label>
        <locationX>354</locationX>
        <locationY>261</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>KickOffScreen</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getCase.Asset.Id</elementReference>
            </value>
        </filters>
        <object>Asset</object>
        <outputAssignments>
            <assignToReference>theAssetId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>theAssetName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getCase</name>
        <label>getCase</label>
        <locationX>176</locationX>
        <locationY>260</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getAsset</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>theCaseId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Getting_Diagnostics_Results</name>
        <label>Getting Diagnostics Results</label>
        <locationX>988</locationX>
        <locationY>250</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DiagnosticTestResult</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorOccurred</targetReference>
        </faultConnector>
        <filters>
            <field>wlio__Waylay_Rule_Template__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>thechosentemplateid</elementReference>
            </value>
        </filters>
        <filters>
            <field>wlio__Asset__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>theAssetId</elementReference>
            </value>
        </filters>
        <object>wlio__Diagnostic_Result__c</object>
        <outputAssignments>
            <assignToReference>theResultDescription</assignToReference>
            <field>wlio__Result_Description__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>theResult</assignToReference>
            <field>wlio__Result__c</field>
        </outputAssignments>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <screens>
        <name>ChooseTest</name>
        <label>Choose your diagnostic test</label>
        <locationX>686</locationX>
        <locationY>69</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>LaunchingTheDiagnosticTest</targetReference>
        </connector>
        <fields>
            <name>SelectTest</name>
            <fieldText>&lt;p&gt;Select your diagnostics test:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>GenericDiagnostic_Tests</name>
            <choiceReferences>DiagnosticsTestChoices1</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Available diagnostic tests</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>DiagnosticTestResult</name>
        <label>Waylay Diagnostic Test Result</label>
        <locationX>1226</locationX>
        <locationY>68</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>showingresults</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 24px;&quot;&gt;{!theResult} !&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!theResultDescription}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!getCase.Account.Name} is entitled to &lt;/span&gt;&lt;span style=&quot;font-size: 14px; color: rgb(255, 0, 0);&quot;&gt;3&lt;/span&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt; free component replacements.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ErrorOccurred</name>
        <label>An error occurred</label>
        <locationX>735</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Couldnotfindresults</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 24px;&quot;&gt;ERROR&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;The test did not succeed. Please try again.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>KickOffScreen</name>
        <label>Kick Off Screen</label>
        <locationX>551</locationX>
        <locationY>68</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ChooseTest</targetReference>
        </connector>
        <fields>
            <name>first_screen</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Click next to launch a Waylay Diagnostic Test for Asset {!theAssetName}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Launch_Diagnostics_Test2</name>
        <label>Fetching the results</label>
        <locationX>985</locationX>
        <locationY>68</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Getting_Diagnostics_Results</targetReference>
        </connector>
        <fields>
            <name>giving_time</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;We are launching your diagnostics test. Click Next to fetch the results.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>getCase</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>theAssetId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>theAssetName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>theCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>thechosentemplateid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>theResult</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>theResultDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
